*{
    margin: 0 ;
    padding: 0 ;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F3F2F2;
}
/* Main content styling */
main{
    padding: 0 8%;
    margin: 0 auto;
}

.header {
    min-height: 80vh;
    max-height: 100%;
    width: 100%;
    background-image:  url(img/forside-banner-min.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: bottom;   
} 
nav{
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    height: 45px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
}
.nav-links ul li a:hover {
    color: #3ECD58; 
}
.logo{
    max-width: 150px;
    height: auto;    
    align-self: baseline;
}
.icon-links {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.icon-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.icon-links a:hover {
    color: #3ECD58; 
}
.banner-text-box{
    color: #009530;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.banner-text-box p{
    color: #009530;
}
/*--Partners-box--*/


.partners-box {
    background-color: #f3f2f2b9;
    height: 110px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Tilføj en lille margin mellem linjerne */
}

.grid-item {
    text-align: center;
    padding: 0 100px;
}

.by-schneider-logo {
    max-width: 300px;
    margin: auto;
    display: block;
}

.lk-logo{
    width: 250px;
    height: auto;
}
.asco-logo{
    width: 200px;
    height: auto;
} 
.apc-logo {
    width: 150px;
    height: auto;
}

/* --Chatbox-- */
.chatbox {
    position: fixed;
    right: 0;
    top: 150px; /* Placerer chatboksen tættere på toppen af skærmen */
    width: 50px;
    height: 200px;
    background-color: #3ECD58;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1000; /* Sørger for, at chatboksen altid er øverst */
}

/* --Chatbox content-- */
.chatbox-content {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none; /* Start skjult */
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chatbox-header {
    background-color: #009530;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox-header h4 {
    margin: 0;
}

.chatbox-close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.chatbox-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chatbox-input {
    display: flex;
    padding: 10px;
}

.chatbox-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chatbox-input button {
    padding: 10px 20px;
    background-color: #009530;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* --Hvem er vi-- */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px; /* Tilføjer afstand mellem afsnit */
}

.learn-more-btn {
    font-size: 0.9em;
    color: gray;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    transition: transform 1s;
}

.learn-more-btn i {
    margin-left: 5px;
}

.learn-more-btn:hover {
    transform: scale(1.1); 
}

.about-image {
    flex: 1;
    position: relative; /* Gør det muligt at placere den grønne boks */
    max-width: 40%; 
    padding: 50px;
}

.about-image img {
    width: 100%;
    height: 350px;
    display: block;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}


.green-overlay {
    position: absolute;
    bottom: 30px; /* Få boksen til at stikke ud nedenfor billedet */
    width: 81% ;
    height: 40px;
    background-color: #3dcd579b; 
    z-index: 1; /* Lægger boksen ovenpå billedet */
    
}

/*---------------energy solution-----*/
.energy-solutions {
    padding: 50px 0;
    background-color: #F3F2F2;
    text-align: left;
}

.energy-solutions h2 {
    font-size: 2.5em;
    margin-bottom: 20px;

}

.solutions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}

.solution-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px 20px;
    max-width: 40%;
    text-align: center;
    flex: 1;
}

.solution-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.solution-box h3 {
    color: #008000;
    
    margin-bottom: 10px;
}

.solution-box p {
    font-size: 1em;
    color: #666;
}

/*---------innovativeløsninger---------*/
.innovative-solutions {
    padding: 50px 0;
    background-color: #F3F2F2;
    text-align: left;
}

.innovative-solutions h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.innovative-container {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Dropshadow-effekt */
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.box img {
    max-width: 40%;
    height: auto;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}
.box2 img {
    max-width: 40%;
    height: auto;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}
.box .text {
    max-width: 50%;
}

.box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
}
.box2 .text {
    max-width: 50%;
}

.box2 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.box2 p {
    font-size: 12px;
}
.green-overlay2 {
    position: absolute;
    width: 40px ;
    height: 290px;
    left: 505px;
    background-color: #3dcd579b; 
    z-index: 1; 
}
.green-overlay3 {
    position: absolute;
    width: 40px ;
    height: 290px;
    right: 505px;
    background-color: #3dcd579b; 
    z-index: 1; 
}

/* Subscription form */

/* Subscription form */
.subscription-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 8%; /* Matching padding with the main content */
    background-color: #F3F2F2;
}

.subscription-container {
    width: 100%;
    text-align: center;
    background-color: #f3f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subscription-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.subscription-container p {
    margin-bottom: 20px;
    color: #666;
}

.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscription-form input[type="email"],
.subscription-form select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.subscription-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #009530;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-form button:hover {
    background-color: #007a2f;
}

footer {
    background-color: #363636;
    color: white;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}

.footer-logo img {
    max-height: 50px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-logo-right img {
    max-height: 50px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer-bottom-links {
    display: flex;
    gap: 20px;
}

.footer-bottom-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer-social-icons a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.footer-social-icons a:hover {
    color: #3ECD58;
}





/* Support Page Stylig */
.header-support {
    min-height: 80vh;
    max-height: 100%;
    width: 100%;
    background-image:  url(img/support-banner.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: top;   
} 
.support-section {
    padding: 50px 8%;
    text-align: center;
    background-color: #F3F2F2;
}

.support-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.support-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #009530;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.support-btn.active,
.support-btn:hover {
    background-color: #009530;
    color: #ffffff;
}

.support-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.support-content p {
    margin-bottom: 20px;
    color: #666666;
    line-height: 1.6;
}

.support-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.support-option-1 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.support-option-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.support-option-header i {
    color: #009530;
    font-size: 1.5em;
}

.support-option-header p {
    margin: 0;
    flex: 1;
    text-align: left;
    margin-left: 15px;
}

.support-option-content {
    max-height: 0;
    padding: 0 15px;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.support-option-content h3 {
    margin-top: 15px;
}

.support-option-content p {
    margin: 10px 0;
}

.support-option-content ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

.support-option-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.support-option-content input,
.support-option-content textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.support-option-content button {
    padding: 10px;
    border: none;
    background-color: #009530;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.support-option-content button:hover {
    background-color: #007a2f;
}