*{
    margin: 0 ;
    padding: 0 ;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: 'Arial Rounded MT Pro Light';
    src: url('fonts/ArialRoundedMTPro-Light\ \(1\).otf') format('truetype'); /* Juster stien efter din mappestruktur */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial MT Medium';
    src: url(fonts/ARIALMTMEDIUM.TTF) format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}
@font-face {
    font-family: 'Arial MT Light';
    src: url(fonts/ARIALMTLIGHT.TTF) format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

body{
    background-color: #F3F2F2;
    font-family: 'Arial Rounded MT Pro Light', sans-serif;
    font-size: 16px; /* Standard fontstørrelse */
    color: #333; /* Tekstfarve */
    line-height: 1.6;
}
/* Main content styling */
main{
    padding: 5vh 8%;
    margin: 0 auto;
}
h1 {
    font-family: 'Arial Rounded MT Pro Light', sans-serif;
    font-size: 2.3em;
    color: #000;
}
h2{
    font-family: 'Arial MT medium', sans-serif;
    font-size: 1.5em;
    color: #000;
}
h3{
    font-family: 'Arial MT medium', sans-serif;
    font-size: 1.17em;
    color: #000;
}
h4{
    font-family: 'Arial MT medium', sans-serif;
    font-size: 1.12em;
    color: #000; 
}
p {
    font-family: 'Arial MT Light', sans-serif;
    font-size: 1.08em; /* Standard paragraph fontstørrelse */
    color: #000; /* Paragraph tekstfarve */
}
.header {
    min-height: 80vh;
    max-height: 100%;
    width: 100%;
    background-image:  url(img/forside-banner-min.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: bottom;   
} 
nav{
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    height: 45px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
    
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
}
.nav-links ul li a:hover {
    color: #3ECD58; 
}
.logo{
    max-width: 150px;
    height: auto;    
    align-self: baseline;
}
.icon-links {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.icon-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.icon-links a:hover {
    color: #3ECD58; 
}
.banner-text-box{
    color: #009530;
    position: absolute;
    top: 50%;
    margin-left: 12em;
    transform: translate(-50%,-50%);
    text-align: left;
}

.banner-text-box h1{
    color: #009530;
    font-size: 20px;
    line-height: 20px;
}
.banner-text-box h2{
    color: #009530;
    font-size: 50px;
    line-height: 45px;
}


/*--Partners-box--*/


.partners-box {
    background-color: #f3f2f2b9;
    height: 110px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Tilføj en lille margin mellem linjerne */
}

.grid-item {
    text-align: center;
    padding: 0 100px;
}

.by-schneider-logo {
    max-width: 300px;
    margin: auto;
    display: block;
}

.lk-logo{
    width: 250px;
    height: auto;
}
.asco-logo{
    width: 200px;
    height: auto;
} 
.apc-logo {
    width: 150px;
    height: auto;
}

/* --Chatbox-- */
.chatbox {
    position: fixed;
    right: 0;
    top: 150px; /* Placerer chatboksen tættere på toppen af skærmen */
    width: 50px;
    height: 200px;
    background-color: #3ECD58;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1000; /* Sørger for, at chatboksen altid er øverst */
}

/* --Chatbox content-- */
.chatbox-content {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none; /* Start skjult */
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chatbox-header {
    background-color: #009530;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox-header h4 {
    margin: 0;
}

.chatbox-close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.chatbox-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chatbox-input {
    display: flex;
    padding: 10px;
}

.chatbox-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chatbox-input button {
    padding: 10px 20px;
    background-color: #009530;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* --Hvem er vi-- */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.about-text {
    flex: 1;
}



.about-text p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px; /* Tilføjer afstand mellem afsnit */
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    justify-content: flex-start;
}

.action-button {
    width: calc(50% - 10px); /* Ens bredde til alle knapper */
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    background-color: #F3F2F2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #e2e2e2;
}


.button-group .action-button:nth-child(5) {
    width: calc(50% - 10px);
    align-self: center; /* Centrerer den femte knap */
  
}

.learn-more-btn {
    font-size: 0.9em;
    color: gray;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    transition: transform 1s;
}

.learn-more-btn i {
    margin-left: 5px;
}

.learn-more-btn:hover {
    transform: scale(1.1); 
}

.about-image {
    flex: 1;
    position: relative; /* Gør det muligt at placere den grønne boks */
    padding: 5% 0 50px 0px;
    margin-left: 5%;
}

.about-image img {
    width: 100%;
    height: 350px;
    display: block;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}


.green-overlay {
    position: absolute;
    bottom: 30px; /* Få boksen til at stikke ud nedenfor billedet */
    width: 100%; /* Tilpas bredden til 100% af billedets bredde */
    height: 40px;
    background-color: #3dcd579b; 
    z-index: 1; /* Lægger boksen ovenpå billedet */
    
}
/*---------------energy solution-----*/
.energy-solutions {
    padding: 50px 0;
    background-color: #F3F2F2;
    text-align: left;
}



.solutions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 50px;
}

.solution-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px 20px;
    max-width: 40%;
    text-align: center;
    flex: 1;
    position: relative; /* Til relativ positionering */
}

.solution-icon {
    position: absolute;
    top: -25px; /* Juster denne værdi efter behov */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Placer ikonet over tekst */
}

.solution-icon img {
    width: 50px;
    height: 50px;
}

.solution-box h3 {
    color: #008000;
    margin-bottom: 10px;
}
.solution-box p {
    margin-bottom: 0px;
    padding-bottom: 0;
}
/*---------innovativeløsninger---------*/
.innovative-solutions {
    padding: 50px 0;
    background-color: #F3F2F2;
    text-align: left;
}

.innovative-container {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Dropshadow-effekt */
    position: relative; /* Til relative positionering af overlay */
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Til relative positionering af overlay */
    margin-top: 0;
}

.box img {
    max-width: 40%;
    height: auto;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
}

.box2 img {
    max-width: 40%;
    height: auto;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}

.box .text,
.box2 .text {
    max-width: 40%;
    padding-left: 5%;
    margin-top: 0;
   

}
.text p ,
.text p {
    padding-bottom: 1em;
   

}

.text h3{
    margin-bottom: 1em;
    top: 0;
}




.green-overlay2{
    position: absolute;
    width: 4%; /* Tilpas bredden til 10% af boksens bredde */
    height: 100%; /* Tilpas højden til 100% af boksens højde */
    background-color: #3dcd579b; 
    z-index: 1; 
    top: 0; /* Placer overlay øverst i boksen */
    left: 38%;
}

/* Placer det grønne overlay til højre for billedet i box2 */
.green-overlay3 {
    position: absolute;
    width: 4%; /* Tilpas bredden til 10% af boksens bredde */
    height: 100%; /* Tilpas højden til 100% af boksens højde */
    background-color: #3dcd579b; 
    z-index: 1; 
    top: 0; /* Placer overlay øverst i boksen */
    right: 38%;
}

/* Tilpas afstanden til venstre for overlay i box */
.box .text {
    padding-right: 10%; /* Brug 10% padding til at skabe plads til overlay */
    margin-left: -5%; /* Anvend en negativ margin for at flytte teksten til venstre */
}

/* brug for hjælp */
.help-container {
    display: flex;
    flex-direction: row; /* Ændret fra standard 'column' til 'row' */
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3%;
  }

  
  .help-box {
  width: calc(20% - 20px);
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 180px;
  }
    
  .help-box p {
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .like-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px; /* Juster størrelsen efter behov */
    height: auto;
}
  

/* Subscription form */


.subscription-container {
    width: 100%;
    padding: 50px 0;

}



.subscription-container p {
   
    line-height: 1.6;
   
    margin-bottom: 20px; /* Tilføjer afstand mellem afsnit */
}


.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscription-form input[type="email"],
.subscription-form select {
    width: 50%;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    background-color: #F3F2F2;
}

.subscription-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #009530;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-form button:hover {
    background-color: #007a2f;
}

/*--footer--*/
footer {
    background-color: #363636;
    color: white;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}

.footer-logo img, .footer-logo-right img {
    max-width: 100px; /* Adjust this size as needed */
    height: auto;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.footer-bottom-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-bottom-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-social-icons a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.footer-social-icons a:hover {
    color: #3ECD58;
}

@media (min-width: 768px) {
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo,
    .footer-logo-right {
        margin-bottom: 0;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
    }
}







































































































































































/* Support Page Stylig */
.header-support {
    min-height: 80vh;
    max-height: 100%;
    width: 100%;
    background-image:  url(img/support-banner.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: top;   
}

.support-banner-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.support-banner-text-box h2 {
    color: white;
    font-size: 3em; /* Adjust font size as needed */
}
.support-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.support-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #009530;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}


.support-btn:hover {
    background-color: #009530;
    color: #ffffff;
}

.support-content p {
    margin-bottom: 20px;
    color: #666666;
    line-height: 1.6;
    text-align: left;
}

.support-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.support-option {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.support-option-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.support-option-header i {
    color: #009530;
    font-size: 1.5em;
}

.support-option-header p {
    margin: 0;
    flex: 1;
    text-align: left;
    margin-left: 15px;
}

.support-option-content {
    max-height: 0;
    padding: 0 15px;
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.support-option-content h3 {
    margin-top: 15px;
}

.support-option-content p {
    margin: 10px 0;
}

.support-option-content ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

.support-option-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.support-option-content input,
.support-option-content textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.support-option-content button {
    padding: 10px;
    border: none;
    background-color: #009530;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.support-option-content button:hover {
    background-color: #007a2f;
}



