* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header {
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    background-image: url(img/forside-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: top;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    height: auto; /* Sæt menubarens højde */
    padding: 0 20px;
}

.logo-container {
    height: 100%;
}

.logo {
    height: 100%;
    width: auto;
}

.nav-links {
    flex: 1;
    text-align: left;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
}

.nav-links ul li {
    padding: 0 16px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.icon-links {
    display: flex;
    align-items: center;
}

.icon-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;

}
.logo{
    max-width: 150px;
    height: auto;    
    align-self: baseline;
}
.banner-text-box{
    color: #009530;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.banner-text-box p{
    color: #009530;
}
/*--Partners-box--*/

  
.partners-box {
    background-color: #f3f2f2d4;
    height: 110px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Tilføj en lille margin mellem linjerne */
}

.grid-item {
    text-align: center;
    padding: 0 100px;
}

.by-schneider-logo {
    max-width: 300px;
    margin: auto;
    display: block;
}

.lk-logo{
    width: 200px;
    height: auto;
}
.asco-logo{
    width: 200px;
    height: auto;
} 
.apc-logo {
    width: 150px;
    height: auto;
}